<div class="sidebar">
  <div
    [ngClass]="sideBarMenu == 1 ? 'sd-act' : 'sd-dis'"
    (click)="changeMenu(1, 'customer')"
  >
    Customer
  </div>
  <div
    [ngClass]="sideBarMenu == 2 ? 'sd-act' : 'sd-dis'"
    (click)="changeMenu(2, 'item')"
  >
    Item
  </div>
  <div
    [ngClass]="sideBarMenu == 3 ? 'sd-act' : 'sd-dis'"
    (click)="changeMenu(3, 'order')"
  >
    Order
  </div>
  <div class="back" (click)="backEventEmit()">Back</div>
</div>
