:host {
  display: flex;
  background-color: rgb(162, 58, 252);

  .sidebar {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    padding: 30px 0px;

    .sd-dis {
      width: 80%;
      height: 40px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 16px;
      &:hover {
        cursor: pointer;
        background-color: rgb(203, 129, 255);
      }
    }

    .sd-act {
      width: 80%;
      height: 40px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgb(28, 28, 28);
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 16px;
      background-color: white;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .back {
    display: none;
    color: white;
    &:hover {
      cursor: pointer;
    }
  }

  @media (max-width: 992px) {
    .back {
      display: block;
    }
  }
}

@media (max-width: 992px) {
  :host {
    width: 200px;
    height: 100%;
    position: absolute;
    z-index: 100;
  }
}
