:host {
  flex: 0.8;
  background-color: rgb(162, 58, 252);

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    .left {
      mat-icon {
        color: white;
        display: none;

        &:hover {
          cursor: pointer;
        }
      }

      @media (max-width: 992px) {
        mat-icon {
          display: block;
        }
      }
    }

    .right {
      display: flex;

      button {
        border-radius: 5px;
        display: flex;
        align-items: center;
        background-color: white;

        &:hover {
          background-color: rgb(224, 224, 224);
          cursor: pointer;
        }
      }
    }
  }
}
