<div class="header">
  <div class="left">
    <mat-icon (click)="menu()"
      ><span class="material-symbols-outlined"> menu </span></mat-icon
    >
  </div>
  <div class="right">
    <button (click)="onDownload()">Download Report</button>
    <button (click)="onClick()">
      <mat-icon><span class="material-symbols-outlined"> add </span></mat-icon>
    </button>
  </div>
</div>
