<div class="update">
  <p class="title">Update Customer</p>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-area">
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
        <mat-error *ngIf="form.get('name')?.invalid"
          >Name is required</mat-error
        >
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Address</mat-label>
        <input matInput formControlName="address" />
        <mat-error *ngIf="form.get('address')?.invalid"
          >Address is required</mat-error
        >
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Phone</mat-label>
        <input matInput formControlName="phone" />
        <mat-error *ngIf="form.get('phone')?.invalid"
          >Phone is required</mat-error
        >
      </mat-form-field>
      <input type="file" (change)="onFileSelected($event)" />
    </div>

    <div class="button-area">
      <button
        routerLink="/customer"
        mat-stroked-button
        class="cancel"
        color="warn"
      >
        Cancel
      </button>
      <button
        mat-flat-button
        class="submit"
        type="submit"
        color="primary"
        [disabled]="form.invalid"
      >
        Submit
      </button>
    </div>
  </form>
</div>
