<div class="detail">
  <div class="image-position">
    <div class="avatar"><img [src]="customer?.customerPic" /></div>
  </div>
  <div class="data">
    <div class="data-cell">
      <div class="left-cell">
        <p>Name</p>
      </div>
      <div class="right-cell">
        <p>{{ customer?.customerName }}</p>
      </div>
    </div>
    <div class="data-cell">
      <div class="left-cell">
        <p>Address</p>
      </div>
      <div class="right-cell">
        <p>{{ customer?.customerAddress }}</p>
      </div>
    </div>
    <div class="data-cell">
      <div class="left-cell">
        <p>Code</p>
      </div>
      <div class="right-cell">
        <p>{{ customer?.customerCode }}</p>
      </div>
    </div>
    <div class="data-cell">
      <div class="left-cell">
        <p>Phone</p>
      </div>
      <div class="right-cell">
        <p>{{ customer?.customerPhone }}</p>
      </div>
    </div>
    <div class="data-cell">
      <div class="left-cell">
        <p>Status</p>
      </div>
      <div class="right-cell">
        <p>{{ customer?.isActive }}</p>
      </div>
    </div>
    <div class="data-cell">
      <div class="left-cell">
        <p>Last Order Date</p>
      </div>
      <div class="right-cell">
        <p>{{ customer?.lastOrderDate }}</p>
      </div>
    </div>
  </div>
  <button routerLink="/customer" mat-stroked-button color="primary">
    Back
  </button>
</div>
