<div class="order-update">
  <p class="title">Update Customer</p>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-area">
      <mat-form-field class="example-full-width">
        <mat-label>Quantity</mat-label>
        <input
          matInput
          formControlName="quantity"
          (input)="onQuantityInput($event)"
        />
        <mat-error *ngIf="form.get('quantity')?.invalid"
          >Quantity is required</mat-error
        >
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Total Price</mat-label>
        <input matInput [disabled]="true" formControlName="total-price" />
      </mat-form-field>
    </div>

    <div class="button-area">
      <button
        routerLink="/order"
        mat-stroked-button
        class="cancel"
        color="warn"
      >
        Cancel
      </button>
      <button
        mat-flat-button
        class="submit"
        type="submit"
        color="primary"
        [disabled]="form.invalid"
      >
        Submit
      </button>
    </div>
  </form>
</div>
