:host {
  flex: 10;

  .item-add {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 25px;
    box-sizing: border-box;
    row-gap: 10px;

    .title {
      margin-bottom: 10px;
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      color: white;
      font-size: 18px;
    }

    form {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .form-area {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
      }

      .button-area {
        display: flex;
        justify-content: space-between;
        .cancel {
          background-color: white;
        }
      }
    }
  }
}
