<div class="order-detail">
  <div class="data">
    <div class="data-cell">
      <div class="left-cell">
        <p>Customer Name</p>
      </div>
      <div class="right-cell">
        <p>{{ order?.customer?.customerName }}</p>
      </div>
    </div>
    <div class="data-cell">
      <div class="left-cell">
        <p>Item</p>
      </div>
      <div class="right-cell">
        <p>{{ order?.item?.itemName }}</p>
      </div>
    </div>
    <div class="data-cell">
      <div class="left-cell">
        <p>Code</p>
      </div>
      <div class="right-cell">
        <p>{{ order?.orderCode }}</p>
      </div>
    </div>
    <div class="data-cell">
      <div class="left-cell">
        <p>Total Price</p>
      </div>
      <div class="right-cell">
        <p>{{ order?.totalPrice }}</p>
      </div>
    </div>
    <div class="data-cell">
      <div class="left-cell">
        <p>Quantity</p>
      </div>
      <div class="right-cell">
        <p>{{ order?.quantity }}</p>
      </div>
    </div>
    <div class="data-cell">
      <div class="left-cell">
        <p>Order Date</p>
      </div>
      <div class="right-cell">
        <p>{{ order?.orderDate }}</p>
      </div>
    </div>
  </div>
  <button routerLink="/order" mat-stroked-button color="primary">Back</button>
</div>
