:host {
  flex: 10;

  .order-detail {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    box-sizing: border-box;

    .data {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 17px;
      display: flex;
      flex-direction: column;
      row-gap: 10px;

      .data-cell {
        display: flex;
        width: 100%;
        background-color: white;
        border-radius: 20px;
        padding: 10px;
        box-sizing: border-box;

        .left-cell {
          flex: 1;
        }

        .right-cell {
          flex: 1;
        }
      }
    }

    button {
      width: fit-content;
      background-color: white;
    }
  }
}
