<div class="item-update">
  <p class="title">Item Customer</p>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-area">
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
        <mat-error *ngIf="form.get('name')?.invalid"
          >Name is required</mat-error
        >
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Stock</mat-label>
        <input matInput formControlName="stock" />
        <mat-error *ngIf="form.get('stock')?.invalid"
          >Stock is required</mat-error
        >
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Price</mat-label>
        <input matInput formControlName="price" />
        <mat-error *ngIf="form.get('price')?.invalid"
          >Price is required</mat-error
        >
      </mat-form-field>
      <input type="file" (change)="onFileSelected($event)" />
    </div>

    <div class="button-area">
      <button routerLink="/item" mat-stroked-button class="cancel" color="warn">
        Cancel
      </button>
      <button
        mat-flat-button
        class="submit"
        type="submit"
        color="primary"
        [disabled]="form.invalid"
      >
        Submit
      </button>
    </div>
  </form>
</div>
