<div class="root-container">
  <side-bar
    [currentC]="currentContent"
    (currentEvent)="receiveContent($event)"
    (backEvent)="receiveSBP($event)"
    [style.display]="sideBarStatus ? 'flex' : 'none'"
  ></side-bar>
  <main [currentC]="currentContent" (forwardEvent)="receiveSB()"></main>
</div>
