<div class="order-add">
  <p class="title">Add Order</p>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-area">
      <mat-form-field class="example-full-width">
        <mat-label>Customer</mat-label>
        <input
          type="text"
          matInput
          formControlName="customer"
          (focus)="onInputClickCustomer()"
          [matAutocomplete]="autoCustomer"
        />
        <mat-autocomplete
          #autoCustomer="matAutocomplete"
          (optionSelected)="onOptionSelectedCustomer($event)"
        >
          <mat-option
            *ngFor="let option of filteredCustomers | async"
            [value]="option.customerName"
          >
            {{ option.customerName }} | {{ option.customerCode }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="form.get('customer')?.invalid"
          >Customer is required</mat-error
        >
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Item</mat-label>
        <input
          type="text"
          matInput
          formControlName="item"
          (focus)="onInputClickItem()"
          [matAutocomplete]="autoItem"
        />
        <mat-autocomplete
          #autoItem="matAutocomplete"
          (optionSelected)="onOptionSelectedItem($event)"
        >
          <mat-option
            *ngFor="let option of filteredItems | async"
            [value]="option.itemName"
          >
            {{ option.itemName }} | {{ option.itemCode }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="form.get('item')?.invalid"
          >Item is required</mat-error
        >
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Quantity</mat-label>
        <input
          matInput
          formControlName="quantity"
          type="number"
          (input)="onQuantityInput($event)"
          min="1"
          max="10"
        />
        <mat-error *ngIf="form.get('quantity')?.hasError('required')"
          >Quantity is required</mat-error
        >
        <mat-error *ngIf="form.get('quantity')?.hasError('min')"
          >Quantity must be at least 1</mat-error
        >
        <mat-error *ngIf="form.get('quantity')?.hasError('max')"
          >Quantity must not exceed 10</mat-error
        >
        <mat-error *ngIf="form.get('quantity')?.hasError('invalid')"
          >Quantity must be a valid number</mat-error
        >
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Total Price</mat-label>
        <input matInput [disabled]="true" formControlName="total-price" />
      </mat-form-field>
    </div>

    <div class="button-area">
      <button
        routerLink="/order"
        mat-stroked-button
        class="cancel"
        color="warn"
      >
        Cancel
      </button>
      <button
        mat-flat-button
        class="submit"
        type="submit"
        color="primary"
        [disabled]="form.invalid"
      >
        Submit
      </button>
    </div>
  </form>
</div>
