<div class="item-content">
  <form (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width">
      <mat-label>Search</mat-label>
      <input matInput [(ngModel)]="name" name="name" />
    </mat-form-field>
  </form>
  <div class="table">
    <div class="table-header">
      <div class="table-cell"></div>
      <div class="table-cell">Name</div>
      <div class="table-cell price">Price</div>
      <div class="table-cell"></div>
    </div>
    <div class="table-row" *ngFor="let item of items">
      <div class="table-cell">
        <div class="avatar"><img [src]="item.itemPic" /></div>
      </div>
      <div class="table-cell">{{ item.itemName }}</div>
      <div class="table-cell price">{{ item.price }}</div>
      <div class="action">
        <button mat-icon-button [routerLink]="['/item/detail', item.itemId]">
          <mat-icon>
            <span class="material-symbols-outlined">visibility</span>
          </mat-icon>
        </button>
        <button mat-icon-button [routerLink]="['/item/update', item.itemId]">
          <mat-icon
            ><span class="material-symbols-outlined"> edit </span>
          </mat-icon>
        </button>
        <button mat-icon-button (click)="deleteItem(item.itemId)">
          <mat-icon
            ><span class="material-symbols-outlined"> delete </span>
          </mat-icon>
        </button>
      </div>
    </div>
  </div>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    [length]="totalData"
    (page)="onPageChange()"
  ></mat-paginator>
</div>
