<div class="content">
  <form (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width">
      <mat-label>Search</mat-label>
      <input matInput [(ngModel)]="name" name="name" />
    </mat-form-field>
  </form>
  <div class="table">
    <div class="table-header">
      <div class="table-cell"></div>
      <div class="table-cell">Name</div>
      <div class="table-cell phone">Phone</div>
      <div class="table-cell"></div>
    </div>
    <div class="table-row" *ngFor="let customer of customers">
      <div class="table-cell">
        <div class="avatar"><img [src]="customer.customerPic" /></div>
      </div>
      <div class="table-cell">{{ customer.customerName }}</div>
      <div class="table-cell phone">{{ customer.customerPhone }}</div>
      <div class="action">
        <button
          mat-icon-button
          [routerLink]="['/customer/detail', customer.customerId]"
        >
          <mat-icon>
            <span class="material-symbols-outlined">visibility</span>
          </mat-icon>
        </button>
        <button
          mat-icon-button
          [routerLink]="['/customer/update', customer.customerId]"
        >
          <mat-icon
            ><span class="material-symbols-outlined"> edit </span>
          </mat-icon>
        </button>
        <button mat-icon-button (click)="deleteCustomer(customer.customerId)">
          <mat-icon
            ><span class="material-symbols-outlined"> delete </span>
          </mat-icon>
        </button>
      </div>
    </div>
  </div>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    [length]="totalData"
    (page)="onPageChange()"
  ></mat-paginator>
</div>
