:host {
  flex: 10;

  .item-detail {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    box-sizing: border-box;

    .image-position {
      display: flex;
      justify-content: center;

      .avatar {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: white;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .data {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 17px;
      display: flex;
      flex-direction: column;
      row-gap: 10px;

      .data-cell {
        display: flex;
        width: 100%;
        background-color: white;
        border-radius: 20px;
        padding: 10px;
        box-sizing: border-box;

        .left-cell {
          flex: 1;
        }

        .right-cell {
          flex: 1;
        }
      }
    }

    button {
      width: fit-content;
      background-color: white;
    }
  }
}
