<div class="item-detail">
  <div class="image-position">
    <div class="avatar"><img [src]="item?.itemPic" /></div>
  </div>
  <div class="data">
    <div class="data-cell">
      <div class="left-cell">
        <p>Name</p>
      </div>
      <div class="right-cell">
        <p>{{ item?.itemName }}</p>
      </div>
    </div>
    <div class="data-cell">
      <div class="left-cell">
        <p>Code</p>
      </div>
      <div class="right-cell">
        <p>{{ item?.itemCode }}</p>
      </div>
    </div>
    <div class="data-cell">
      <div class="left-cell">
        <p>Stock</p>
      </div>
      <div class="right-cell">
        <p>{{ item?.stock }}</p>
      </div>
    </div>
    <div class="data-cell">
      <div class="left-cell">
        <p>Price</p>
      </div>
      <div class="right-cell">
        <p>{{ item?.price }}</p>
      </div>
    </div>
    <div class="data-cell">
      <div class="left-cell">
        <p>Available</p>
      </div>
      <div class="right-cell">
        <p>{{ item?.isAvailable }}</p>
      </div>
    </div>
    <div class="data-cell">
      <div class="left-cell">
        <p>Last Restock</p>
      </div>
      <div class="right-cell">
        <p>{{ item?.lastRestock }}</p>
      </div>
    </div>
  </div>
  <button routerLink="/item" mat-stroked-button color="primary">Back</button>
</div>
