:host {
  flex: 10;
  overflow: auto;

  .order-content {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 25px;
    display: flex;
    flex-direction: column;

    .date-picker {
      display: flex;
      justify-content: space-around;
    }

    @media (max-width: 600px) {
      .date-picker {
        flex-direction: column;
      }
    }

    .example-full-width {
      width: 100%;
      color: white;
      background-color: rgb(48, 48, 48);
    }

    .table {
      display: flex;
      flex-direction: column;
      width: 100%;
      color: #ddd;
    }

    .table-header {
      display: flex;
      border-bottom: 1px solid #ddd;
      font-weight: bold;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
    }

    .table-row {
      display: flex;
      border-bottom: 1px solid #ddd;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
    }

    .table-cell {
      flex: 1;
      padding: 18px 0;
      display: flex;
      align-items: center;
      justify-content: center;

      .avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: white;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .action {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 10px;
    }

    mat-icon {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
