<div class="order-content">
  <div class="date-picker">
    <mat-form-field class="example-form-field">
      <mat-label>Start Date</mat-label>
      <input
        matInput
        [matDatepicker]="datepicker1"
        (dateChange)="startDateChanged($event)"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="datepicker1"
      ></mat-datepicker-toggle>
      <mat-datepicker #datepicker1></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="example-form-field">
      <mat-label>End Date</mat-label>
      <input
        matInput
        [matDatepicker]="datepicker2"
        (dateChange)="endDateChanged($event)"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="datepicker2"
      ></mat-datepicker-toggle>
      <mat-datepicker #datepicker2></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="table">
    <div class="table-header">
      <div class="table-cell">Customer Name</div>
      <div class="table-cell">Item Name</div>
      <div class="table-cell"></div>
    </div>
    <div class="table-row" *ngFor="let order of orders">
      <div class="table-cell">{{ order.customer.customerName }}</div>
      <div class="table-cell">{{ order.item.itemName }}</div>
      <div class="action">
        <button mat-icon-button [routerLink]="['/order/detail', order.orderId]">
          <mat-icon>
            <span class="material-symbols-outlined">visibility</span>
          </mat-icon>
        </button>
        <button mat-icon-button [routerLink]="['/order/update', order.orderId]">
          <mat-icon
            ><span class="material-symbols-outlined"> edit </span>
          </mat-icon>
        </button>
        <button mat-icon-button (click)="deleteOrder(order.orderId)">
          <mat-icon
            ><span class="material-symbols-outlined"> delete </span>
          </mat-icon>
        </button>
      </div>
    </div>
  </div>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    [length]="totalData"
    (page)="onPageChange()"
  ></mat-paginator>
</div>
